# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
NOTES
gastro_backup.sql
.vscode/
/app/assets/builds/*
!/app/assets/builds/.keep

/node_modules

/config/credentials/development.key

/config/credentials/test.key

/config/credentials/production.key

/provisioning/password_file
/old_data
/public/assets/application-*.js
/public/assets/application-*.js.map
/public/assets/application-*.js.LICENSE.txt
/public/assets/admin-*.js
/public/assets/admin-*.js.map
/public/assets/admin-*.js.LICENSE.txt
/public/assets/manifest.json
/public/vite-dev

.vscode/*
